.module {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://source.unsplash.com/800x650/) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mid .carousel-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  height: 100%;
}
