header {
  width: 100%;
  z-index: 1;
}

.module {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://source.unsplash.com/1600x900/);
  background-size: cover;
  position: relative;
  float: left;
}

.carousel-item {
  height: 90vh;
}

.mid .carousel-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-btn {
  cursor: pointer;
}