header {
  width: 100%;
  z-index: 1;
  /* display: none; */
}

.carousel {
  background: red; 
}

.carousel-item img {
  width: 60%;
  height: 60%;
}

/* 
anchors are inline so you need it make them block to go full width
*/
.carousel-item a {
  display: block;
  width: 60%;
  height: 60%;
}

.carousel-control-prev {
  color:#036;
  margin-left: -.5rem;
  z-index: 10;
}

.carousel-control-next {
  color:#036;
  margin-right: -.5rem;
  z-index: 10;
}

.carousel-control-prev:hover {
  color:#0084FF;
}

.carousel-control-next:hover {
  color:#0084FF;
}

.story {
  padding: 20px;
  text-justify: newspaper;
  height: 350px;
  overflow: auto;
}
