header {
  width: 100%;
  z-index: 1;
}

.module {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  position: relative;
  float: left;
}

.carousel-item {
  height: 90vh;
}

.mid .carousel-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  /* text-transform: uppercase; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  width: 70%;
  height: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
