@import "bootstrap/dist/css/bootstrap.css";

.App {
  position: relative;
  background-color: #fff;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 2px;
  overflow: auto;
  width: 90%;
}
